name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Racket
        uses: Bogdanp/setup-racket@fda0f4d167468421766cea8a36140bd2c3c3450d
        with:
          version: "9.0"

      - name: Install package
        run: raco pkg install --auto --link "$GITHUB_WORKSPACE"

      - name: Run unit tests
        run: raco test -x -p racket-lox

      - name: Install Dart
        run: |
          wget -O /tmp/dart_2.19.6-1_amd64.deb "https://storage.googleapis.com/dart-archive/channels/stable/release/2.19.6/linux_packages/dart_2.19.6-1_amd64.deb"
          sudo dpkg -i /tmp/dart_2.19.6-1_amd64.deb
          echo "/usr/lib/dart/bin" >> $GITHUB_PATH

      - name: Setup test harness
        working-directory: craftinginterpreters
        run: make get

      - name: Run integration tests
        run: ./run-tests.sh
